doctype html 
html
    head
        title="2048 Game Center"
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(charset="UTF-8")
    body
        div.container
          h1 2048 Game Center
          table#scores
              tr
                  th User
                  th Score
                  th Timestamp
              
