.software {
    content:url(software.png);
}

@media only screen {
    .software {
        position: absolute;
        top: 0;
        clip: rect(0px, 440px, 580px, 0);
    }
}

@media only screen and (max-width: 1200px) {
    .software {
        position: absolute;
        left: 0%;
        top: 0;
        clip: rect(0px, 860px, 580px, 440px);
        margin-left: -440px
    }
}

@media only screen and (max-width: 1000px) {
    .software {
        position: absolute;
        left: 0%;
        top: 0;
        clip: rect(0px, 1200px, 580px, 860px);
        margin-left: -860px
    }
}

@media only screen and (max-width: 800px) {
    .software {
        position: absolute;
        top: 0%;
        left: 0;
        clip: rect(587px, 718px, 1211px, 0px);
        margin-top: -587px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .software {
        position: absolute;
        top: 0%;
        left: 0;
        clip: rect(587px, 1204px, 1211px, 718px);
        margin-top: -587px;
        margin-left: -718px;
    }
}